version: '3.9'

services:
  db:
    image: postgres:15
    container_name: bookstore_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: BookStore
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d BookStore"]
      interval: 10s
      timeout: 5s
      retries: 5

  bookstore:
    container_name: bookstore_app
    build:
      context: .
      dockerfile: Lesson4/BookStore/Dockerfile
    image: mmk5/bookstore:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=BookStore;Username=postgres;Password=1234"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health" ]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  postgres_data:
    driver: local
